<!-- Footer -->
{% load static %}
<footer>
    <div class="container footer">
      <div>
        <h4>About GrayBus</h4>
        <div class="list">
          <a href="#">About Us</a>
          <a href="#">Contact us</a>
        </div>
      </div>
      <div>
        <h4>Information</h4>
        <div class="list">
          <a href="#">Terms & Conditions</a>
          <a href="#">Privacy & Policy</a>
          <a href="#">FAQ</a>
        </div>
      </div>
      <div>
        <h4>Helpline</h4>
        <div class="list">
          <span>📞 1234-5678-90</span>
        </div>
      </div>
    </div>
  </footer>
     <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/about.js' %}"></script>
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/my_trackings.js' %}"></script>